{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <section class="HomeSection">

        <div class="PlayerCardContainer">
            {% if jogadores %}
                {% for jogador in jogadores %}
                    <a class="PlayerCard" href="{% url 'details' jogador.Rk %}">
                        <h2>{{ jogador.Player|truncatechars:20 }}</h2>
                        <p>Nota: <span class="OverallHighlight">{{ jogador.Overall }}</span></p>
                        <p>Nação: {{ jogador.Nation }}</p>
                        <p>Time: {{ jogador.Squad }}</p>
                        <p>Posição: {{ jogador.Pos }}</p>
                    </a>
                {% endfor %}
            {% else %}
                <a class="PlayerCard">
                    <h2>{{ mensagem }}</h2>
                </a>
            {% endif %}
        </div>
    </section>
{% endblock content %}
