/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
}

body {
    min-height: 100vh;
    background-color: #18191E;
    background-size: cover;
    background-position: center;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}

.Logo {
    font-size: 40px;
    color: white;
    text-decoration: none;
} 

.Logo-Soccer {
    font-size: 40px;
    color: #ffffff; /* Cor para "Soccer" */
}

.Logo-Stats {
    font-size: 40px;
    color: #F22C37; /* Cor para "Stats" */
}


.Search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 650px;
    height: 40px;
    /* background-color: blue; */
}

.SearchBar {
    width: 590px;
    height: 30px;
    font-size: 17px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.SearchBar:focus {
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.SearchButton {
    width: 50px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;

}

.SearchButton:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.Navbar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 25px;
}

.Navbar div a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration:none;
    transition: .4s ease;
}

.Navbar div a:hover {
    font-size: 20px;
}

/* Media Queries */
@media (max-width: 772px) {
    .Header {
        flex-direction: column;
        padding: 17px 50px;
    }

    .Navbar {
        flex-direction: column;
        width: auto;
    }

    .Navbar div {
        margin: 5px 0px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima do conteúdo */
    background-color: #18191E; /* Adicione um fundo para o cabeçalho */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra para destaque */
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
}